<div class="navigation-selector" ng-controller="NavigationSelectorCtrl" ng-click="onClicked()">
  <div class="section-title">
    <div class="highlight"></div>
    <span ng-if="!selected">
      <h3>{{title}}</h3>
    </span>
    <span ng-if="selected">
      <h3 class="selected">{{selected}}</h3>
    </span>
  </div>

  <ul class="selector" ng-show="expanded">
    <a href="{{element['url']}}" ng-repeat="element in elements">
      <li>
      {{element['name']}}
      </li>
    </a>
  </ul>
</div>
