---
layout: default
---

<nav id='sidebar'>
  {% include nav.html %}
</nav>

<section id='content'>
  <h1 class="page-hdr">Codepuppy API Documentation</h1>

  Below is all the documentation for the Codepuppy API. If something is out of
  date, <a href="mailto://osdiab@cs.stanford.edu">
    send Omar an email</a>.

  <h2 class="section-hdr">General API information</h2>

  {% for post in site.posts %}
    {% if post.category == null %}
      <article class='{{ post.type }}
        {% if post.unimplemented %}
          UNIMPLEMENTED
        {% endif %}'>
        <a name='{{ post.url }}' href='#{{ post.url }}'>
          <h2>
            {% if post.type %}
              <code>
                <b>{{ post.type }}</b> {{ post.path }}
              </code>
            {% endif %}
            {% if post.unimplemented %}
              <code>
                <b class="UNIMPLEMENTED">Not implemented</b>
              </code>
            {% endif %}
            {{ post.title }}
          </h2>
        </a>
        <section class='body'>
          {{ post.content }}
        </section>
      </article>
    {% endif %}
  {% endfor %}

  <h2 class="section-hdr">Resources</h2>

  {% for category in site.categories %}
    <h3 class="resource-hdr">{{ category | first }}</h3>
    {% for posts in category %}
      {% for post in posts %}
        {% if post.url %}
          <article class='{{ post.type }}
            {% if post.unimplemented %}
              UNIMPLEMENTED
            {% endif %}'>
            <a name='{{ post.url }}' href='#{{ post.url }}'>
              <h2>
                {% if post.type %}
                  <code>
                    <b>{{ post.type }}</b> {{ post.path }}
                  </code>
                {% endif %}
                {% if post.unimplemented %}
                  <code>
                    <b class="UNIMPLEMENTED">Not implemented</b>
                  </code>
                {% endif %}
                {{ post.title }}
              </h2>
            </a>
            <section class='body'>
              {{ post.content }}
            </section>
          </article>
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
</section>
