@import "app/vendor/rem";

.modal-content {
    width: 80%;
    @include rem('padding', 10px);

    textarea {
        width: 100%;
    }

    .comment-modal-buttons {
        text-align: right;
        width: 100%;
    }
}
