@import "app/lib/colors";
@import "app/lib/fonts";
@import "app/lib/sizes";

.footer {
    background-color: $cardinal_red;
    width: 100%;
    height: $footer_height;
    margin: -$footer_height auto;
    padding: 10px;
    text-align: center;
    color: white;

    font-family: $standard_font;

    div {
        vertical-align: middle;
    }

    a {
        color: #ffffff;

        &:visited {
            color: #ffffff;
        }

        &:hover {
            color: $light_grey;
        }
    }
}
