@import "app/lib/colors";
@import "app/lib/fonts";
@import "app/lib/sizes";

.header {
    background-color: $cardinal_red;
    width: 100%;
    margin-top: $header_margin_top;
    height: $header_height;
    padding: 20px;

    font-family: $header_font;
    font-size: 1.25em;

    div {
        vertical-align: middle;
    }

    a {
        font-family: $header_font;
        color: #ffffff;

        &:visited {
            color: #ffffff;
        }

        &:hover {
            color: $light_grey;
        }
    }
}
