@import "app/lib/colors";
@import "app/lib/fonts";
@import "app/lib/sizes";
@import "app/vendor/rem";

.header {
    background-color: $cardinal_red;
    color: #ffffff;
    width: 100%;
    @include rem('margin-bottom', 20px);
    margin-bottom: 10px;
    height: $header_height;
    @include rem('padding', 20px);

    font-family: $header_font;
    font-size: 1.25em;

    .left-col {
        width: 25%; // accommodate for padding
        height: 100%;
        float: left;
    }

    .textlogo {
        height: 100%;

        img {
            height: 100%;
        }
    }

    .content-col {
        @include rem('padding-left', 10px);
        padding-left: 10px;
        float: left;
        width: 75%;
    }

    h3 {
        display: block;
        float: left;
        @include rem('padding-right', 10px);
        margin: 0;
    }

    div {
        vertical-align: middle;
    }

    a {
        font-family: $header_font;
        color: #ffffff;

        &:visited {
            color: #ffffff;
        }

        &:hover {
            color: $light_grey;
        }
    }
}
