@import "app/lib/colors";

.navigation-selector {
    .section-title {
        overflow: hidden;
        position: relative;
        width: 100%;

        h3 {
            padding: 0;
            margin: 0;
            padding-left: 20px;

            &.selected {
                color: $dark_red;
                cursor: pointer;
                cursor: hand;
            }
        }

        .highlight {
            background-color: $cardinal_red;
            height: 100%;
            position: absolute;
            left: 0;
            width: 10px;
        }

        margin-bottom: 10px;
    }

    .selector {
        padding-left: 10px;

        li {
            padding: 10px;
        }
    }
}
