@import "app/lib/colors";
@import "app/vendor/rem";

.navigation-selector {
    .section-title {
        overflow: hidden;
        position: relative;
        width: 100%;

        h3 {
            padding: 0;
            margin: 0;
            @include rem('padding-left', 20px);
            padding-left: 20px;

            &.selected {
                color: $dark_red;
                cursor: pointer;
                cursor: hand;
            }
        }

        .highlight {
            background-color: $cardinal_red;
            height: 100%;
            position: absolute;
            left: 0;
            @include rem('width', 10px);
        }

        @include rem('margin-bottom', 10px);
    }
}
