<!DOCTYPE html>
<html ng-app="codepuppy">
<head>
<title>Codepuppy</title>
<%= stylesheet_link_tag 'application', media: 'all' %>
<%= csrf_meta_tags %>
</head>
<body>

<div class="page">
    <div class="page-wrapper">
        <header></header>
        <div class="site-content clearfix">
            <sidebar></sidebar>
            <div ng-view class="content">
            </div>
        </div>
        <div class="push"></div>
    </div>
    <footer></footer>
</div>

<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'app' %>
</body>
</html>
