<!DOCTYPE html>
<html ng-app="codepuppy">
  <head>
    <title>Namepending</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-view>
    <%= yield %>

    <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js'></script>
    <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js'></script>
    <%= javascript_include_tag "application" %>
  </body>
</html>
