<!DOCTYPE html>
<html ng-app="codepuppy">
<head>
<title>Namepending</title>
<%= stylesheet_link_tag    "application", media: "all" %>
<%= csrf_meta_tags %>
</head>
<body ng-controller="RootCtrl">

<hr/>
<p>CLASSES:</p>
<ul>
<li ng-if="selectedClass == null" ng-repeat="i in classes"><a href="#{{i}}">{{i}}</a></li>
<li ng-if="selectedClass != null" ><a href="#{{selectedClass}}">{{selectedClass}}</a></li>
</ul>
<div ng-if="selectedClass != null">
<p>ASSIGNMENTS:</p>
<ul>
<li ng-if="selectedAssignment == null" ng-repeat="j in assignments"><a href="#{{selectedClass}}/{{j}}">{{j}}</a></li>
<li ng-if="selectedAssignment != null"><a href="#{{selectedClass}}/{{selectedAssignment}}">{{selectedAssignment}}</a></li>
</ul>
</div>
<!-- 
<div ng-if="selectedAssignment != null">


<p>SUBMISSIONS:</p>
<ul>
<li ng-if="selectedSubmission == null" ng-repeat="j in assignments"><a href="#{{selectedClass}}/{{j}}">{{j}}</a></li>
<li ng-if="selectedSubmission != null"><a href="#{{selectedClass}}/{{selectedAssignment}}">{{selectedAssignment}}</a></li>
</ul>
</div>

--> 

<hr/>

<div ng-view>
<%= yield %>
</div> 

<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js'></script>
<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js'></script>
<%= javascript_include_tag "application" %>
</body>
</html>
