<div class="announcement-list page-module" ng-controller="AnnouncementListCtrl">
	<h2>Course Announcements</h2>
	<ul class="selector">
    <a ng-repeat='announcement in announcements | orderBy:sortByField:reverse'
        href="" ng-click='announcementSelected(announcement)'>
      <li>
        {{announcement.subject}}
      </li>
    </a>
	</ul>

  <p class="announcement-list-add">
    <a ng-if='addPermissions'
      href='{{newAnnouncementPath}}'>Add an announcement</a>
  </p>

	<announcement-holder announcement='selectedAnnouncement'></announcement-holder>
</div>
